# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat files
cache/solidity-files-cache.json
artifacts
typechain-types

# Environment variables
.env
.env.local
deploy/.env

# TypeChain
src/types/contracts
frontend/src/types/contracts/

CLAUDE.md